[submodule "src/github.com/BurntSushi/toml"]
	path = src/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule "src/github.com/johncornish/flextime-go"]
	path = src/github.com/johncornish/flextime-go
	url = https://github.com/johncornish/flextime-go
[submodule "src/github.com/vito/gosub"]
	path = src/github.com/vito/gosub
	url = https://github.com/vito/gosub
